<html>

<head><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script></head>

<body>
<form action="#" method="post">
    <div id="super">
        <label for="username">User Name</label>
        <input type="text" name="username" id="username" value={{ username }} />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
    </div>


    <p>
        <input type="submit" value="Send" />
    </p>


    <div id="token">{{ token }}</div>
</form></form>
</body>

<script>
    (function ($) {
        $.fn.serializeFormJSON = function () {

            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    })(jQuery);

    $('form').submit(function (e) {
        e.preventDefault();
        var data = $(this).serializeFormJSON();
        data['token'] = document.getElementById("token").innerText
        if((data["username"]).toLowerCase().endsWith('kek')){
            return alert("No 'bot' in username")
        }
        $.ajax
        ({
            type: "POST",
            url: '/register',
            async: false,
            //json object to sent to the authentication url
            data: JSON.stringify(data),
            contentType: 'application/json'
        })


    });







</script>


</html>


